In [11]:
#ONE RULE ALGORITHM ASSIGNMENT
#CODE: ROSALIE CHALEUNSOUCK

#loading necessary notebooks
import numpy as np
import pandas as pd
#loading dataset from external source
from collections import OrderedDict
from sklearn.datasets import load_iris


#DEFINING THE DATASSET
dataset = load_iris()
x = dataset.data
y = dataset.target

#DEFIING THE DATASET PARAMETERS FOR CRITERIA
Iris_data = OrderedDict({'Sepal Length ': X[:,0],
             'Sepal Width': x[:,1],
             'Petal Length': x[:,2],
             'Petal Width': x[:,3],
             'Label': y})

#calling the original data up
df = pd.DataFrame(Iris_data)
df

     Sepal Length   Sepal Width  Petal Length  Petal Width  Label
0              5.1          3.5           1.4          0.2      0
1              4.9          3.0           1.4          0.2      0
2              4.7          3.2           1.3          0.2      0
3              4.6          3.1           1.5          0.2      0
4              5.0          3.6           1.4          0.2      0
..             ...          ...           ...          ...    ...
145            6.7          3.0           5.2          2.3      2
146            6.3          2.5           5.0          1.9      2
147            6.5          3.0           5.2          2.0      2
148            6.2          3.4           5.4          2.3      2
149            5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

In [7]:
#now we convert the data in a more manageable form by changing the parameters to a combination of 0,1,2,3

x_dh= np.array( x>x.mean(), dtype='int')

# NOW BASED ON THE ARRAY ABOVE- CERTAIN VALUES WILL BE TRASMITTED AS VALUES OF 0,1,2,3 CORRESPONDING TO DIFFERENT CHARACTERISTICS
Iris_data_d = OrderedDict({'Sepal Length ': x_dh[:,0],
             'Sepal Width': x_dh[:,1],
             'Petal Length': x_dh[:,2],
             'Petal Width': x_dh[:,3],
             'Label': y})

df = pd.DataFrame(Iris_data_d)
df

     Sepal Length   Sepal Width  Petal Length  Petal Width  Label
0                1            1             0            0      0
1                1            0             0            0      0
2                1            0             0            0      0
3                1            0             0            0      0
4                1            1             0            0      0
..             ...          ...           ...          ...    ...
145              1            0             1            0      2
146              1            0             1            0      2
147              1            0             1            0      2
148              1            0             1            0      2
149              1            0             1            0      2

[150 rows x 5 columns]

In [14]:
#Now we determine Sepal length


x_d=np.zeros((150,4), dtype=int)

#TAKING THE AVERAGE VALUES OF THE DATASET
Avg_0=0
Avg_1=0
Avg_2=0
Avg_3=0

for i in range (len(x)):
    Avg_0 += x[i,0]
    Avg_1 += x[i,1]
    Avg_2 += x[i,2]
    Avg_3 += x[i,3]
    
Prob_0=Avg_0/150
Prob_1=Avg_1/150
Prob_2=Avg_2/150
Prob_3=Avg_3/150

# AND DETERMINING THE PROBABILITY OF EACH BY TAKING THE COUNT VALUE AND PLACING IT OVER THE ENTIRE POPULATION

for i in range(len(X)):
    if(x[i,0]>=Prob_0):
        x_d[i,0]+=1
        
    if(x[i,1]>=Prob_1):
        x_d[i,1]+=1
        
    if(x[i,2]>=Prob_2):
        x_d[i,2]+=1
        
    if(x[i,3]>=Prob_3):
        x_d[i,3]+=1

print("Value 0:", Prob_0,"Value 1:", Prob_1,"Value 2:", Prob_2,"Value 3:", Prob_3)

Value 0: 5.843333333333335 Value 1: 3.057333333333334 Value 2: 3.7580000000000027 Value 3: 1.199333333333334

In [15]:
#SEPAL LENGTH CRITERIA
#FOLLOWING THE SAME FORMAT AS THE AVERAGE CALCULATION ABOVE
setosa_sepL = 0
versi_sepL = 0
veirg_sepL = 0

for i in range(len(x_d)):
    if(y[i]==0):
        setosa_sepL += x_d[i,0]
        
    if(Y[i]==1):
        versi_sepL += x_d[i,0]
    
    if(Y[i]==2):
        veirg_sepL += x_d[i,0]
    

print("for Sepal length")
print("Setosa total: ", setosa_sepL, "Percentage:", (setosa_sepL/150)*100)
print("Versicolor total: ", versi_sepL, "Percentage:", (versi_sepL/150)*100)
print("veirginica total: ", veirg_sepL, "Percentage:", (veirg_sepL/150)*100)

for Sepal length
Setosa total:  0 Percentage: 0.0
Versicolor total:  26 Percentage: 17.333333333333336
veirginica total:  44 Percentage: 29.333333333333332

In [16]:
#SEPAL WIDTH CRITERIA CALCULATION
setosa_sepW = 0
versi_sepW = 0
veirg_sepW = 0

for i in range(len(x_d)):
    if(y[i]==0):
        setosa_sepW += x_d[i,1]
        
    if(Y[i]==1):
        versi_sepW += x_d[i,1]
    
    if(Y[i]==2):
        veirg_sepW += x_d[i,1]
    

print("for Sepal Width")
print("Setosa total: ", setosa_sepW, "Percentage:", (setosa_sepW/150)*100)
print("Versicolor total: ", versi_sepW, "Percentage:", (versi_sepW/150)*100)
print("veirginica total: ", veirg_sepW, "Percentage:", (veirg_sepW/150)*100)

for Sepal Width
Setosa total:  42 Percentage: 28.000000000000004
Versicolor total:  8 Percentage: 5.333333333333334
veirginica total:  17 Percentage: 11.333333333333332

In [17]:
#PETAL LENGTH CALCULATION

setosa_petL = 0
versi_petL = 0
veirg_petL = 0

for i in range(len(x_d)):
    if(y[i]==0):
        setosa_petL += x_d[i,2]
        
    if(Y[i]==1):
        versi_petL += x_d[i,2]
    
    if(Y[i]==2):
        veirg_petL += x_d[i,2]
    

print("for Sepal Width")
print("Setosa total: ", setosa_petL, "Percentage:", (setosa_petL/150)*100)
print("Versicolor total: ", versi_petL, "Percentage:", (versi_petL/150)*100)
print("veirginica total: ", veirg_petL, "Percentage:", (veirg_petL/150)*100)

for Sepal Width
Setosa total:  0 Percentage: 0.0
Versicolor total:  43 Percentage: 28.666666666666668
veirginica total:  50 Percentage: 33.33333333333333

In [19]:
#PETAL WIDTH CRITERIA

setosa_petW = 0
versi_petW = 0
veirg_petW = 0

for i in range(len(x_d)):
    if(y[i]==0):
        setosa_petW += x_d[i,3]
        
    if(Y[i]==1):
        versi_petW += x_d[i,3]
    
    if(Y[i]==2):
        veirg_petW += x_d[i,3]
    

print("for Sepal Width")
print("Setosa total: ", setosa_petW, "Percentage:", (setosa_petW/150)*100)
print("Versicolor total: ", versi_petW, "Percentage:", (versi_petW/150)*100)
print("veirginica total: ", veirg_petW, "Percentage:", (veirg_petW/150)*100)

for Sepal Width
Setosa total:  0 Percentage: 0.0
Versicolor total:  40 Percentage: 26.666666666666668
veirginica total:  50 Percentage: 33.33333333333333

In [ ]:
#Through the comparison of the of the percentages of correctness within each criteria set
#one can see that the best criteria to determine Setosa is Sepal Width
#best criteria to determine the Veirginica is Sepal Length
#If the subject does poorly in the above criteria it is determiend to be a Versicolor